#tracks {
    display: grid;
    grid-template-columns: 1;
}

.track {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 1;
}

h1 {
    text-align: center;
}

h3 {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
}