#tracks {
    display: grid;

    overflow: auto;

    /* Hide the scrollbar */
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: transparent transparent; /* Firefox */

    /* Hide the scrollbar for other browsers (like Chrome, Safari, and Edge) */
    /* Please note that this method might not work in future browser versions */
    /* You might need to use browser-specific prefixes or check for updates */
    ::-webkit-scrollbar {
    width: 6px; /* Adjust the width of the scrollbar */
    }

    ::-webkit-scrollbar-thumb {
    background-color: transparent; /* Make the thumb (the moving part) transparent */
    }

    max-height: 50vh;
}

.trackP {
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.trackDOM {
    /* text-align: center; */
    display: grid;

    grid-template-columns: 10% 60% 10% 15% 5%;

    grid-template-rows: repeat(auto-fill, 0.5in);
    /* grid-gap: 10px; */

}

.music {
    background-color: rgb(26, 26, 25);

    height: 100%;
    width: 100%;

    display: flex;
    /* grid-template-rows: 1; */
}

h1 {
    text-align: center;
}

h3 {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
}

#displayVis {
    height: 400px;
    /* width: 100vw; */
}